.sidebar-main-container {
  width: 15%;
    min-width: 250px;
    height: 100vh;
background-color: #127CC0;
position: fixed; 

}
.heading-container {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  width: 65%;
  margin-left: 30px;
  margin-top: 24px;
  justify-self: center;
}
.logo {
    width: 43.06px;
    height: 49px;
    margin-top: 24px;
    margin-left: 51px;
  }
  
  .heading-content {
    width: 121px;
    height: 26px;
    left: 98.38px;
    font-family: Inter;
    font-weight: 700;
    font-size: 17.22px;
    line-height: 25.83px;
    color: #FFFFFF;
  }
  .logo-image {
    width: 43.06px; 
    height: 49px; 
  }
  .sidebar-body-container {
   display: flex;
   flex-direction: column;
   margin-top: 40px;
  }
  .sidebar-body-content {
    width:86px;
height:24px;
margin-top:24px;
margin-left: 51px;
font-family: Inter;
font-weight:700;
font-size:16px ;
line-height: 24px;
color: #FFFFFF;
cursor: pointer;
  }
  @media (max-width: 768px) {
    .sidebar-main-container {
      width: 100%; 
      height: auto;
      position: fixed; 
      overflow-y: visible;
    }
    .heading-container {
      width: 90%;
      margin-left: 5%; 
    }
    .logo {
      margin-left: 5%; 
    }
    .sidebar-body-content {
      margin-left: 5%; 
    }
  }